external/glfw/build/
build/OpenGL.opensdf
build/OpenGL.sdf
lib/
include/
source/*/bin/
source/*/obj/
build/packages/
build/OpenGL.VC.VC.opendb
build/OpenGL.VC.db
build/ipch/
build/.vs/
build/bin/
build/obj/
source/Library.Linux/bin/
source/Library.Linux/obj/
.vs/
out/
build/source/
build/CMakeFiles/
build/cmake_install.cmake
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/OpenGL_Essentials_LiveLessons.sln
build/CMakeCache.txt
build/ALL_BUILD.vcxproj.user
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/x64/
